@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 10vw;
    height: 5vh;
    display: absolute;
    border: 1vmin black solid;
    margin: 2vh 2vw;
    z-index: 1;
  }

  .card {
    height: 20vh;
    width: 12vh;
    background-image: url("../Assets/Background/deepForest.png");
    background-position: center;
    background-size: cover;
    padding: 1.5vmin 2.5vmin 4vmin 2.5vmin;
    border-radius: 1vmin;
    margin: 1vh 1vw;
    rotate: 0deg;
  }

  .cardImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 14vh;
    width: 6vw;
  }

  .describe {
    background-color: #FFFFFF88;
    border-radius: 1vmin;
  }

  .type {
    height: 6vmin;
  }

  .types {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5vmin;
  }

  h1 {
    font: 1vmin "Press start 2P";
    text-align: center;
    text-justify: center;
    padding: 0.5vmin;
  }

  button {
    margin: 0;
    position: relative;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
