* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background-image: url("../Login/Images/suits.jpg");
    background-attachment: fixed;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #000000F4;
    padding: 4vmin;
    border-radius: 3vmin;
    box-shadow: 5px 10px 1px 0px #00000060
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  
  .label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 0.3vmin solid black;
    background-color: #FFFFFF;
    border-radius: 4vmin;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
  }

  .label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .label-float input:focus{
    border-bottom: 0.3vmin solid #EE0000;
  }


  .label-float label{
    color: #000000;
    position: absolute;
    pointer-events: none;
    top: 14%;
    left: 4%;
    margin-top: 13px;
    transition: all .3s ease-out;
  }

  .label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: -5%;
  margin-left: -4%;
  color: #EEEEEE;
}

button {
  background-color: #000000;
  border-color: #EEEEEE;
  color: #EEEEEE;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #EE0000;
  color: #fff;
}

.justify-center {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 80%;
}

p {
  color: #EEEEEE;
  font-size: 14pt;
  text-align: center;
}

a {
  color: #EE0000;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover {
  color: #00EE00;
}

.fa-eye{
  position: absolute;
  top: 40%;
  right: 3%;
  cursor: pointer;
  color: #000000;
}

 #msgError{
  text-align: center;
  color: #EE0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}